/**********
Theme settings
**************/
:root {
  --font-family: 'Space Grotesk', -apple-system, system-ui, sans-serif;
  /* Modular scale values (Major Third 1.25) */
  --scale-1: 0.8;
  --scale0: 1;
  --scale1: 1.25;
  --scale2: 1.563;
  --scale3: 1.953;
  --scale4: 2.441;
  --scale5: 3.052;
  --scale6: 3.815;
  --scale7: 4.768;
  --scale8: 5.96;
  --scale9: 7.451;
  --scale10: 9.313;
  --scale11: 11.641;
  /* Colors */
  --c-black: #2D1D20;
  --c-white: #FFFDFB;
  --c-green: #005E3F;
  --c-orange: #FF715B;
  --c-purple: #3C2E85;
  /* Umm */
  --the-thicc: 2px;
}
/**********
typeface
**********/
@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
       url('fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
       url('fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
/********
Theme styles
******************/
html,
body {
  font-family: var(--font-family);
  letter-spacing: -0.022em;
}
html {
  font-size: calc(var(--scale0) * 1rem);
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 15.25 * ((100vw - 320px) / 1480));
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 31.25px;
  }
}
body {
  color: var(--c-black); /* #D4FFFF; */
  line-height: var(--scale2);
}
header,
.tmpl-home .hero,
.tmpl-home > .usual-bottom,
main:not(.tmpl-home),
.thanks {
  padding-left: calc(var(--scale3) * 1rem);
  padding-right: calc(var(--scale3) * 1rem); /* calc(var(--scale3) * 1rem) PREVIOUS TOP/BOTTOM */
}
@media (min-width: 600px) {
  header,
  .tmpl-home .hero,
  .tmpl-home > .usual-bottom,
  main:not(.tmpl-home),
  .thanks {
    padding-left: calc(var(--scale5) * 1rem);
    padding-right: calc(var(--scale5) * 1rem); /* calc(var(--scale4) * 1rem) */
  }
}
@media (min-width: 900px) {
  header,
  .tmpl-home .hero,
  .tmpl-home > .usual-bottom,
  main:not(.tmpl-home),
  .thanks {
    padding-left: calc(var(--scale7) * 1rem);
    padding-right: calc(var(--scale7) * 1rem); /* calc(var(--scale6) * 1rem) */
  }
}
@media (min-width: 1200px) {
  header,
  .tmpl-home .hero,
  .tmpl-home > .usual-bottom,
  main:not(.tmpl-home),
  .thanks {
    padding-left: calc(var(--scale9) * 1rem);
    padding-right: calc(var(--scale9) * 1rem); /* calc(var(--scale6) * 1rem) */
  }
}
@media (min-width: 2000px) {
  header,
  .tmpl-home .hero,
  .tmpl-home > .usual-bottom,
  main:not(.tmpl-home),
  .thanks {
    padding-left: calc(var(--scale10) * 1rem);
    padding-right: calc(var(--scale10) * 1rem); /* calc(var(--scale6) * 1rem) */
  }
}
body,
header {
  background-color: var(--c-white);
}
main {
  padding: calc(var(--scale6) * 1rem) 0;
}
@media (min-width: 900px) {
  main {
    padding-top: calc(var(--scale8) * 1rem);
  }
}
@media (min-width: 1200px) {
  main {
    padding-top: calc(var(--scale9) * 1rem);
  }
}
p:last-of-type {
  margin-bottom: calc(var(--scale-1) * 3rem);
}
/********
Layout
************/
p,
.tmpl-post li,
img,
ul {
  max-width: 32em;
}
li:not(.nav-item) {
  padding-top: calc(var(--scale-1) * 1rem);
  /* margin-bottom: calc(var(--scale-1) * 1rem); */
}
.hero {
  margin-bottom: calc(var(--scale6) * 1rem);
  padding-top: calc(var(--scale6) * 1rem);
  @media (min-width: 900px) {
    /* display: flex; */
    /* margin-bottom: calc(var(--scale4) * 1rem);
    padding-top: calc(var(--scale6) * 1rem); */
  }
  @media (min-width: 1200px) {
    margin-bottom: calc(var(--scale6) * 1rem);
    padding-top: 0;
  }
  @media (min-width: 1600px) {
    margin-bottom: calc(var(--scale7) * 1rem);
    padding-top: calc(var(--scale1) * 1rem);
  }
}
.tmpl-home .hero {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
  }
}
.hero__left {
  max-width: 18em;
  @media (min-width: 600px) {
    max-width: 20em;
  }
  @media (min-width: 1200px) {
    flex-shrink: 0;
    margin-right: calc(var(--scale1) * 1rem);
  }
  @media (min-width: 1600px) {
    max-width: 25em;
  }
  @media (min-width: 2000px) {
    margin-right: calc(var(--scale5) * 1rem);
  }
}
.hero-heading,
.hero-subheading {
  margin-right: calc(var(--scale0) * 1rem);
}
.hero-subheading,
.overline {
  font-size: calc(var(--scale-1) * 1rem);
  font-weight: 500;
  letter-spacing: 0.022em;
  text-transform: uppercase;
  word-spacing: calc(var(--scale4) * -1px);
}
.usual-bottom {
  margin-bottom: calc(var(--scale8) * 1rem);
}
/******
Image considerations
********/
.hero-img,
.img {
  height: auto;
  max-width: 100%;
}
.hero-img {
  margin-left: -6%;
  max-height: 75vh;
  max-width: 113%;
  width: auto;
}
@media (min-width: 1200px) {
  .hero-img {
    margin-left: 0;
    max-width: calc(50vw - calc(var(--scale9)* 1rem));
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .hero-img {
    /* right: calc(var(--scale5) * 1rem * .32); */
  }
}
img.lazyload,
img.lazyloading {
  visibility: hidden;
}
img.lazyloaded {
  animation: loaded 400ms ease-in;
}

@keyframes loading {
  0% { opacity: 75%; }
  50% { opacity: 50%; }
  100% { opacity: 75%; }
}
@keyframes loaded {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
@keyframes fade-out {
  0% { background-size: 100%; }
  100% { background-size: 0%; }
}
.squiggle {
  margin-left: -6vw;
  max-width: 15rem;
  position: relative;
}
.has-fancy-border {
  border: solid 0.25rem gold;
  padding: calc(var(--scale5) * 1rem);
  clip-path: polygon( 0% 29%, 10% 0, 85% 0%, 100% 20%, 100% 80%, 85% 100%, 10% 100%, 0% 80%, 0% 10% );
  mix-blend-mode: color-dodge;
}
/*********
Header
****************/
header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}
.header-content {
  border-top: solid var( --the-thicc) var(--c-black);
  display: flex;
  justify-content: space-between;
}
@media (min-width: 900px) {
  header {
    bottom: initial;
    top: 0;
  }
  .header-content {
    border-bottom: solid var( --the-thicc) var(--c-black);
    border-top: 0;
  }
}
a[href].logo__link,
a[href].logo__link:visited,
.nav-item > a[href],
.nav-item > a[href]:visited {
  color: var(--c-black);
}
.nav-item {
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.nav-item::before {
  content: '';
  background-image: url(../../img/squiggle-menu-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: calc(var(--scale8)* 2rem);
  width: calc(var(--scale8)* 2rem);
  left: calc(var(--scale5)* -1rem);
  top: calc(var(--scale7)* -1rem);
  visibility: hidden;
  z-index: -1;

  @media (min-width: 900px) {
    height: calc(var(--scale9)* 2rem);
    width: calc(var(--scale9)* 2rem);
    left: calc(var(--scale7)* -1rem);
    top: calc(var(--scale9)* -1rem);
  }
}
.nav-item.nav-item-active::before {
  visibility: visible;
}
/*********
 Typography
**********/
h1:not(.logo) {
  font-size: calc(var(--scale3) * 1rem);
  margin-bottom: calc(var(--scale3) * 1rem);
}
@media (min-width: 600px) {
  h1:not(.logo) {
    font-size: calc(var(--scale4) * 1rem);
    margin-bottom: calc(var(--scale5) * 1rem);
  }
}
@media (min-width: 1600px) {
  h1:not(.logo) {
    font-size: calc(var(--scale5) * 1rem);;
    margin-bottom: calc(var(--scale6) * 1rem);
  }
}
h2 {
  font-size: calc(var(--scale2) * 1rem);
  margin-bottom: calc(var(--scale2) * 1rem);
}
@media (min-width: 600px) {
  h2 {
    font-size: calc(var(--scale3) * 1rem);
    margin-bottom: calc(var(--scale3) * 1rem);
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: calc(var(--scale4) * 1rem);
    margin-bottom: calc(var(--scale4) * 1rem);
  }
}
h3 {
  font-size: calc(var(--scale1) * 1rem);
  margin-bottom: calc(var(--scale1) * 1rem);
}
@media (min-width: 600px) {
  h3 {
    font-size: calc(var(--scale2) * 1rem);
    margin-bottom: calc(var(--scale2) * 1rem);
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: calc(var(--scale3) * 1rem);
    margin-bottom: calc(var(--scale3) * 1rem);
  }
}
h4,
h5 {
  font-size: calc(var(--scale0) * 1rem);
  margin-bottom: calc(var(--scale0) * 1rem);
}
@media (min-width: 600px) {
  h4,
  h5 {
    font-size: calc(var(--scale1) * 1rem);
    margin-bottom: calc(var(--scale1) * 1rem);
  }
}
h6 {
  font-size: calc(var(--scale0) * 1rem);
  margin-bottom: calc(var(--scale0) * 1rem);
}
h1:not(.logo) {
  line-height: var(--scale0);
}
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--scale1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
hr {
  margin: calc(var(--scale1) * 1rem) 0;
  border-style: solid;
  border-width: 1px;
}
a[href] {
  color: var(--c-green);
  text-decoration-thickness: var( --the-thicc);
}
a[href]:visited {
  color: var(--c-purple);
}
strong {
  font-weight: 500;
}
ul {
  padding-inline-start: 0;
}
/*********
QUOTES
*************/
q {
  quotes: "“" "”" "‘" "’";
}
q::before {
  color: var(--c-orange);
  content: open-quote;
  font-size: calc(var(--scale6) * 1rem);
  font-weight: 400;
  left: calc(var(--scale3) * -1rem);
  line-height: calc(var(--scale5) * 1rem);
  position: absolute;
}
q::after {
  content: close-quote;
}
.quote {
  font-size: calc(var(--scale1) * 1rem);
  font-weight: 500;
  position: relative;
  /* text-indent: -0.9rem; */
}
/*********
WORK LIST
**********/
.worklist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.worklist-item {
  margin-bottom: calc(var(--scale8) * 1rem);
}
.worklist-link {
  text-decoration: none;
  @media (min-width: 900px) {
    align-items: center;
    display: flex;
  }
}
.worklist-link:hover {
  /* cursor: initial; */
  text-decoration: underline;
  text-decoration-thickness: var( --the-thicc);
}
.worklist .post-img {
  border: none;
  margin-bottom: calc(var(--scale0) * 1rem);
  margin-top: 0;
  width: 100%;
  @media (min-width: 900px) {
    margin-bottom: 0;
    margin-right: calc(var(--scale1) * 1rem);
    width: 25vw;
  }
}
.worklist-heading {
  margin-bottom: calc(var(--scale-1) * 1rem);
  margin-top: 0;
}
p.worklist-details {
  font-size: calc(var(--scale-1) * 1rem);
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  
}
.worklist-details--top {
  font-weight: 500;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
/*********
POSTS
**********/
.post-details {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--scale5) * 1rem);
}
.post-details__img {
  height: calc(var(--scale7) * 1rem);
  margin-left: calc(var(--scale7) * -1vw);
  margin-right: calc(var(--scale0) * 1rem);
}
.post-details__copy {
  margin-top: 0;
}
.post-details__label,
.post-nav-label {
  font-size: calc(var(--scale-1) * 1rem);
  letter-spacing: -.25px;
  text-transform: uppercase;
  word-spacing: calc(var(--scale1) * -1px);
}
.post-details__data {
  font-weight: 500;
}
.post-img {
  /* border: solid var( --the-thicc) var(--c-black); */
  max-width: calc(100vw - calc(var(--scale3) * 1rem * 2));
}
@media (min-width: 600px) {
  .post-img {
    max-width: calc(100vw - calc(var(--scale5) * 1rem * 2));
  }
}
@media (min-width: 900px) {
  .post-img {
    max-width: calc(100vw - calc(var(--scale7) * 1rem * 2));
  }
}
@media (min-width: 1200px) {
  .post-img {
    max-width: calc(100vw - calc(var(--scale9) * 1rem * 2));
  }
}
@media (min-width: 1600px) {
  .post-img {
    max-width: calc(100vw - calc(var(--scale10) * 1rem * 2));
  }
}
@media (min-width: 2000px) {
  .post-img {
    max-width: calc(100vw - calc(var(--scale11) * 1rem * 2));
  }
}
.post-nav {
  list-style-type: none;
  padding: 0;
}
.post-nav-item {
  margin-bottom: calc(var(--scale0) * 1rem);
}
.post-nav-link {
  font-weight: 500;
}

.thanks > p:first-of-type {
  padding-top: calc(var(--scale3) * 1rem);
}

.banner {    
  background-color: var(--c-purple);
  border-radius: 8px;
  max-width: calc(var(--scale10) * 2rem);
  opacity: .9;
  padding: calc(var(--scale0) * 1rem);
  z-index: 8;
  @media (min-width: 900px) {
    margin-top: calc(var(--scale0) * -1rem);
    max-width: none;
    width: fit-content;
  }
}
p.banner-text {
  color: var(--c-white);
  font-size: calc(var(--scale0) * 1rem);
  margin-bottom: 0;
  @media (min-width: 900px) {
    font-size: calc(var(--scale-1) * 1rem);
  }
}