---
layout: layouts/base.njk
permalink: /portfolio/
eleventyNavigation:
  key: Portfolio
  title: Portfolio
  order: 1
---

<div class='hero'>
  <div class='hero__left'>
    <h6 class='overline'>Recent work</h6>
    <h1>Portfolio</h1>
  </div>
  <!-- <div class='banner'>
    <p class='banner-text'>Case studies available for clients and hiring teams — let me know!</p>
  </div> -->
</div>

<div class='usual-bottom'>
  {% set postslist = collections.posts %}
  {% include "worklist.njk" %}
</div>

<div class='usual-bottom'>
  <p class="quote"><q>He was always advocating for the customer, ensuring that our designs were not only visually appealing but also accessible and user-friendly. Jamie's focus on quality was a guiding force, helping us address often-overlooked details like responsiveness and website latency. He proposed new tools and processes to improve our design workflow, such as reusing Figma components and creating templates that were easy to follow and implement for engineers.</q></p>
  <p class="quote__byline">– Paul-Michel DeBlois, Software Engineer</p>
</div>

<div class='usual-bottom'>
  <p class="quote"><q>...I leaned on him not only to level up my skills as a Product Designer, but also for guidance when navigating complex work streams and team dynamics. Jamie was intentional in everything he did — from providing feedback to structuring team meetings to helping his designers build long-term, personal growth plans. Jamie is an exceptional manager, I feel grateful for the time I spent on his team, and can't recommend him highly enough.</q></p>
  <p class="quote__byline">– Annie Osenbaugh, Senior Product Designer</p>
</div>

<div class='usual-bottom'>
  <p class="quote"><q>...Jamie gave me the independence to explore new ideas and validate them with user testing in a fast-paced environment.</q></p>
  <p class="quote__byline">– Agustin Luque, Product Designer</p>
</div>
