---
layout: layouts/base.njk
permalink: /portfolio/
eleventyNavigation:
  key: Portfolio
  title: Portfolio
  order: 1
---

<h1>Portfolio</h1>

<div class='usual-bottom'>
  {% set postslist = collections.posts %}
  {% include "worklist.njk" %}
</div>

<div class='usual-bottom'>
  <p class="quote"><q>...I leaned on him not only to level up my skills as a Product Designer, but also for guidance when navigating complex work streams and team dynamics. Jamie was intentional in everything he did — from providing feedback to structuring team meetings to helping his designers build long-term, personal growth plans. Jamie is an exceptional manager, I feel grateful for the time I spent on his team, and can't recommend him highly enough.</q></p>
  <p class="quote__byline">– Annie Osenbaugh, Senior Product Designer @ Philosophie</p>
</div>
<div class='usual-bottom'>
  <p class="quote"><q>Above all, I was impressed with Jamie's ability to go into a room and represent design fully, both as a consultant and as a teacher for the younger designers. Jamie would be a true asset for any positions requiring design leadership and comes with my heartfelt recommendation.</q></p>
  <p class="quote__byline">– Adam Thomas, former Product Strategist @ Philosophie</p>
</div>
