---
layout: layouts/home.njk
---

<div class='hero' id='bad-rhyme-joke'>
  <h1 class='hero-heading'>web design<br/>since 2009*</h1>
  <img src='img/home-office-squiggle-view.png' class='hero-img' alt="Aerial view of a laptop, a cup of tea, eyeglasses, and headphones resting on a glass coffee table above a green Persion rug" />
</div>
<div class='usual-bottom'>
  <p>Hi, I’m Jamie. Career-wise, I’m honing my leadership skills now. Recently, I managed a team of 12 product designers at the product consultancy Philosophie. I mentor students in the UX/UI course at Springboard.</p>
  <p><a href='https://www.linkedin.com/in/jamisoncaloras/'>Contact me about work on LinkedIn.</a> I mostly <a href='https://twitter.com/pigstake/likes'>like animal photos on Twitter</a> these days. That might be just what you need.</a></p>
</div>
<div class='usual-bottom'>
  <div class='usual-bottom'>
    <img src='img/squiggle-02.svg' class='squiggle' alt="An outline squiggle that Jamie quickly traced from his green Persion rug" />
    <h2>I build trust and pull teams forward.</h2>
  </div>
  <div class='usual-bottom'>
    <p class="quote"><q>He’s fostered a safe space where designers can speak candidly about their struggles. Coupled with his extensive design knowledge, helpful critiques, and probing questions, he consistently challenges us to think beyond the box.</q></p>
    <p class="quote__byline">– Farica Carroll, Senior Product Designer @ Philosophie</p>
  </div>
  <div class='usual-bottom'>
    <p class="quote"><q>...he gave me the independence to explore new ideas and validate them with user testing in a fast-paced environment.</q></p>
    <p class="quote__byline">– Agustin Luque, Product Designer @ Philosophie</p>
  </div>
  <img src='img/squiggle-03.svg' class='squiggle' alt="An outline squiggle that Jamie quickly traced from his green Persion rug" />
</div>
<div class='usual-bottom'>
  <p>100% not my red Delorean. Thanks for visiting, time traveler!</p>
  <img src='img/red-delorean-squiggled.png' class='img' alt="A red DMC Delorean parked in Astoria that Jamie claims to not own." />
  <p><a href="#bad-rhyme-joke">*100% intentional rhyme and reason</a></p>
</div>
