---
layout: layouts/base.njk
templateClass: tmpl-work
---
<h1>{{ title }}</h1>
<div class='post-details'>
  <img src='../../img/squiggle-01.svg' class='squiggle post-details__img' alt="An outline squiggle that Jamie quickly traced from his green Persion rug" />
  <p class='post-details__copy'>
    For: {{ client }} <br>
    Timeline: {{ timeline }} in {{ year }} <br>
    My role:
  </p>
</div>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next work: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous work: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
